body{
    background-color: greenyellow;
}
#lol{
    font-size: 30px;
    margin-left: 30px;
}
#likith{
    font-size: 30;
    float: right;
    margin-right: 30px;
}
#lij{
    color: red;
    margin: 535px;
}
